<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{user/template_user::head_user}"></head>
<body>
<div th:insert="~{user/template_user::header_user}"></div>
<div class="container">
    <header class="jumbotron my-4">
        <h1 class="display-3">Carrito</h1>
    </header>
    
        <!-- Contenido -->
        <div class="card mb-4">
        <div class="card-body">
          <div class="row">
           <div class="col-lg-9">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Producto</th>
                  <th scope="col">Precio</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Total</th>
                  <th scope="col">Acción</th>
                </tr>
              </thead>
                
              <tbody>
                <tr th:each="dorden:${cart}">
                  <td th:text="${dorden.nombre}"></td>
                  
                  <td th:text="${dorden.precio}"></td>
                      
                  <td th:text="${dorden.cantidad}"></td>
                  
                  <td th:text="${dorden.total}"></td>
                  <td><a th:href="@{/delete/cart/{id} ( id = ${dorden.producto.id})}" class="btn btn-danger">Quitar</a></td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="col-lg-3">
            <h2 class="card-title">SUBTOTAL</h2>

            <ul class="list-group">
              <li class="list-group-item"><h5 th:text="${orden.total}"></h5></li>
              <a href="resumenorden.html" class="btn btn-dark">Ver Orden</a>
            </ul>
          </div>

        </div>
      </div>
    </div>


   
      

</div>
</body>
<div class="footer" th:insert="~{user/template_user::footer_user}"></div>

</html>
<style>
    .body {
        position: relative;
    }

    .footer {
        position: absolute;
        bottom: 0px;
        height: 60px;
        width: 100%;
    }
    .product-img{
        max-height: 400px;
        max-width: 60%;

    }

</style>